*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0  100px;
}
body {
 font-family: Arial, Helvetica, sans-serif;
}



header {
  padding: 15px 0;
  border-bottom: 2px solid grey;
}

.header-parent {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.form-wrapper{
  padding: 40px;
  margin: 50px auto;
  width: 650px;
  border-radius: 50px;
 border: 1px solid grey;
}




.form-title{
  display: flex;
  justify-content: space-between;
}


.form-text{
  display: flex;
  align-items: center;
  gap: 5px;
}
.form-text h3{
  color: #F0400F;
}


.title{
  margin-top: 70px;
  text-align: center;
  font-size: 40px;
  color:#0E0D5D;
text-transform: uppercase;
}

.form-oquvchi{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  padding: 5px;
  border-radius: 10px;
}


.oquvchi button{
  cursor: pointer;
 width: 255px;
 padding: 10px 0;
 border: none;
 font-size: 28px;
  border-radius: 10px ;
}

.ota-ona button{
  cursor: pointer;
  width: 255px;
  padding: 10px 0;
   border: none;
   background-color: transparent;
   font-size: 28px;
}






.form-tel{
  background-color: #FAFAFA;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
}


.form-tel::placeholder{
  font-size: 24px;
}

.qr-code{
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}


.button-finish{
  margin-top: 40px;
  display: flex;
  justify-content: end;
}



.button-finish button{
  background-color:#F69E86 ;
  color: white;
  width: 202px;
  padding: 20px 0;
  border: none;
  border-radius: 20px;
  font-size: 24px;
}
